:root { 
  /* Varivaeis */
  --branco-principal: #03090e;
  --cinza-secundario: #110f0f;
  --botao-azul: #f36608;
  --cor-de-fundo:  rgb(75 164 248);;
  --font-family: 'Inter', sans-serif;
  --botao-azul-efeito:  rgb(75 164 248);;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}

.principal {
  background-image: url("https://wallpaperset.com/w/full/5/e/4/182089.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;  
}

.container__botao {
  background-color: var(--botao-azul);
  padding: 1em;
  border-radius: 4px;
  color: var(--branco-principal);
  text-decoration: none;
  display: block;  
}

.botao_secundario {
  background-color: transparent;
  border: 2px solid rgb(245, 246, 247);
  border: 2px solid var(--branco-principal);
}

.container__titulo{
  font-size: 28px;
  font-weight: 700;
}

.container__aviso{
  font-size: 12px;
  color: var(--cinza-secundario);
  color: #167BF7;
}

.container__caixa{
  margin: 0 6em;
}

.container__imagem{
margin: 1em 0 2em 0;
}

.principal{
  align-items: center;
  text-align: center;
}

.container__botao{g
  margin-bottom: 1em;
}

.descricao__texto{
  color: #0a0a0a;
  font-size: 29px;
  line-height: 125%;
}

.secundario{
  align-items: center;
  margin: 0 6em;
  background-color:  rgb(75 164 248);;
}


.secundario__botao {
  display: inline-block;
  margin-top: 1em;  
  background-color: rgb(156, 49, 49);
}
  
.secundario__imagem{
  width: 80%;
}
.descricao__titulo{
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 0.1em;;
}
.descricao{
  color: darkgray;

}
.container__descricao {
  padding: 2em;
}
.secundario__botao {
  display: inline-block;
  margin-top: 1em;
}

.imagem2 {
  margin-left: 9em;
}

.fundopreto{
  background-color: rgb(75 164 248);
}

.textobranco {
  color: white;
}

.dispotivos__lista {
  display: flex;
  justify-content: space-around
  
}

.dispotivos{
  text-align: center;
  padding: 50px 0;
}

footer{
  background-color: rgb(75 164 248);
  text-align: center;
}
 .dispotivos{
    display: flex;
    justify-content: space-around
    margin-top: 1em;
 }

 ul li a {
  color: #03090e;
  text-decoration: none;
 }