:root { 
  /* Varivaeis */
  --branco-principal: #FFFFFF;
  --cinza-secundario: #C0C0C0;
  --botao-azul: #f36608;
  --cor-de-fundo: #00030C;
  --font-family: 'Inter', sans-serif;
  --botao-azul-efeito: #3c92fa;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}

.principal {
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwall.alphacoders.com%2Fby_sub_category.php%3Fid%3D178018%26name%3DSouth%2BPark%2BWallpapers&psig=AOvVaw2v25no48NX47Bc_Bha-L5z&ust=1694790578292000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCMih0YWxqoEDFQAAAAAdAAAAABAE");
  background-repeat: no-repeat;
  background-size: contain; 
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;  
}

.container__botao {
  background-color: var(--botao-azul);
  padding: 1em;
  border-radius: 4px;
  color: var(--branco-principal);
  text-decoration: none;
  display: block;  
}

.botao_secundario {
  background-color: transparent;
  border: 2px solid white;
  border: 2px solid var(--branco-principal);
}

.container__titulo{
  font-size: 28px;
  font-weight: 700;
}

.container__aviso{
  font-size: 12px;
  color: var(--cinza-secundario);
  color: #167BF7;
}

.container__caixa{
  margin: 0 6em;
}

.container__imagem{
margin: 1em 0 2em 0;
}

.principal{
  align-items: center;
  text-align: center;
}

.container__botao{
  margin-bottom: 1em;
}